body{
    padding: 0;
    margin: 0;
    font-family: 'Raleway';
    color: white;
    font-size: 15px;
    background-color: black;
    letter-spacing: 0.05em;
}
h1 h2 h3 h4 h5 h6 {
    padding: 0;
    margin: 0;
    text-transform: uppercase;
}
ul li {
    display: block;
}
.container {
    width: 1110px;
    height: 40px;
    margin: 0 auto;
}
.svgg{
    position: static;
    width: 37px;
    height: 37px;
    left: 0px;
    top: 0px;
    flex: none;
    order: 0;
    flex-grow: 0;
    margin: 0px 7px;
}
.logo{
    height: 37px;
    width: 37px;
}
#logo-text{
    position: absolute;
    width: 87px;
    height: 21px;
    margin-left: 15px;
    top: 44px;
    font-size: 20px;
}
header a {
    color: white;
}
.menu{
    display: flex;
    margin-left: auto;
}
.menu li a {
    text-decoration: none;
}
.menu li {
    margin: 0 50px;
}
.nav {
    display: flex;
    align-items: center;
    margin-top: 50px;
    margin-bottom: 71px;
}
.main{
    width: 1110px;
    margin: 0 auto;
}
.main-text{
    font-size: 30px;
    margin-top: 40px;
    margin-left: 350px;
    text-transform: uppercase;
}
table{
    margin-left: 32px;
    border: 1px solid white;
    border-collapse: collapse;
    padding: 10px;
}
table a{
    color: white;
    text-decoration: none;
    text-transform: uppercase;
    font-size: 20px;
}
th, td{
    padding-bottom: 16px;
    padding-left: 60px;
    padding-right: 40px;
}
th{
    padding-top: 16px;
}
td{
    padding-top: 16px;
}
tr:nth-child(even) {
    background-color: #dddddd;
    color: black;
}

form{
    margin-top: 30px;
    margin-left: 850px;
}
.form-txt{
    background-color: white;
    padding: 5px 10px;
    border-radius: 3px;
}
.btn{
    align-items: center;
    font-weight: 700;
    color: white;
    padding: 5px 10px;
    border-radius: 3px;
    background: rgb(64,199,129);
}
.btn:hover {
    background: rgb(53, 167, 110);
 }
.btn:active{
    background: rgb(33,147,90);
    box-shadow: 0 3px rgb(33,147,90) inset;
 }

.end{
    display: block;
    background-color: rgb(64, 199, 109);
    height: 60px;
    width: 1110px;
    margin-top: 85px;
    text-align: center;
    border-radius: 1%;
}
.end-txt{
    padding: 11px;
    width: 800px;
    margin-left: 140px;;
    font-size: 12px;
    font-weight: 700;
}